/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.*.local
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
/.fleet
/.idea
/.vscode
/.phpunit.cache

# Laravel specific
/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*

# OS specific
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE & Editor
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools
.editorconfig
*.iml
.project
.settings/

# Misc
*.log
*.bak
*.cache
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*.tar.gz
*~
